.contact-input {
	@apply w-1/2 border-b-2 border-gray-600 placeholder:text-gray-600 
  placeholder:text-sm bg-[#081922] outline-none pb-2 focus:outline-none;
}

.search-container {
	@apply py-20 min-h-[60vh] bg-[#295B5F] bg-opacity-80 text-[#fcfcfc] 
	flex flex-col items-center justify-center space-y-8;
}

.search-input-label {
	@apply flex items-center space-x-2 text-[#fcfcfc] uppercase text-xs
		font-medium;
}

.search-input-icon {
	@apply w-4 h-4;
}

.css-i4bv87-MuiSvgIcon-root {
	@apply text-[#fcfcfc];
}

.css-ptiqhd-MuiSvgIcon-root {
	@apply text-[#fcfcfc];
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
	@apply text-[#fcfcfc];
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.regions-container {
	@apply flex space-x-20 overflow-scroll ml-[10rem] pr-[10rem];
}

.regions-content {
	@apply w-[40rem] space-y-3 flex-shrink-0;
}

.featured-container-info {
	@apply absolute -left-56 -bottom-10 
	w-[21rem] h-[15rem] p-5 bg-[#081922] 
	text-[#fcfcfc] z-10 flex flex-col 
	justify-between;
}

.featured-container-btn {
	@apply w-28 h-28 rounded-full 
	flex flex-col justify-center items-center;
}

.featured-skeleton-btn {
	@apply absolute -bottom-8 -right-16 
	w-28 h-28 rounded-full overflow-hidden;
}
