@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Poppins', 'montserrat', sans-serif, 'Baskerville', 'oswald';
	color: #081922;
	background-color: #fcfcfc;
}

.gb-transition {
	@apply transition-all duration-300 ease-in-out;
}

.home-bg-color {
	@apply bg-[#fcfcfc];
}

.max-w-container {
	@apply max-w-[85rem] mx-auto;
}

.img-bg {
	@apply bg-[#f2f4f5];
}

.no-page-container {
	@apply h-[70vh] bg-white flex flex-col px-7 xl:px-0 
	items-center justify-center text-center space-y-5;
}

.padding-x {
	@apply px-7 xl:px-0;
}
